* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: rgb(212, 212, 212);
  background: linear-gradient(to bottom right, rgb(40, 40, 40), rgb(80, 80, 80));
  width: 100%;
  min-height: 100vh;
}